#blogBody {
    background-image: url('../assets/serve_top_bg.png');
    background-repeat: no-repeat;
    margin-bottom: 10.913rem;
}
#blogLogo {
    width: 19.375rem;
    margin: auto;
    margin-top: 23.563rem;
    margin-bottom: 10.625rem;
}
#blogFooter {
    margin-top: 10.913rem;
}
.cards-row {
    display: flex;
    margin: auto;
    margin-bottom: 4.375rem;
    width: 82.5rem;
    justify-content: space-between;
}
