#home {
    width: fit-content;
    height: 71rem;
}
#homeBody {
    background-image: url('../assets/main/main_bg.svg');
    margin-top: 3.25rem;
    height: 65.781rem;
    width: fit-content;
    position: relative;
    overflow: hidden;
}
#draggableItem {
    top: 13.375rem;
    left: 82.438rem;
    position: sticky;
    font-size: 20px;
    width: 537px;
    height: 81px;
    text-align: center;
    cursor: move;
}
#draggableText {
    color: #161619;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #FFFFFF;
    border: 1px solid #43434C;
}
#draggableShadow {
    height: 13px;
    background: #43434C;
    border: 1px solid #43434C;
}
#homeItems {
    margin-left: 16.25rem;
    margin-top: 15rem;
}
#player {
    margin-right: 16.25rem;
}
#videoPlayer {
}
#videoSection {
    width: 48.938rem;
    height: 32.813rem;
    background-color: aqua;
    -webkit-clip-path: polygon(7% 17%, 96% 8%, 96% 84%, 7% 93%);
    clip-path: polygon(7% 17%, 96% 8%, 96% 84%, 7% 93%);
}
#mainBlogIcon {
    margin-top: auto;
    margin-bottom: 1.188rem;
    cursor: pointer;
}
#mainMediaIcon {
    margin-left: 4.7rem;
    margin-top: auto;
    cursor: pointer;
}
#mainFashionIcon, #mainVisualIcon {
    margin-left: 0.75rem;
    margin-top: auto;
    cursor: pointer;
}
#pill {
    margin-top: auto;
    margin-left: 6.365rem;
}
#about {
    margin-top: auto;
    margin-right: 11rem;
    margin-left: 18.093rem;
    cursor: pointer;
}