/* mobile */
@media (max-width: 1180px) {
    .matter {
        display: none;
    }
    .serveText {
        font-size: 16px;
    }
    .filterItem {
        margin-right: 1.5rem;
    }
    #mediaFilterAll {
        padding-left: 40px;
    }
    #visualIcon, #fashionIcon, #mediaIcon {
        height: 55px;
        margin-top: 110px;
        margin-bottom: 8px;
    }
    .serveText {
        margin-bottom: 60px;
    }
    .filter-hr {
        display: block;
    }
    .filter {
        margin-bottom: 10px;
    }
}
/* mobile 2 */
@media (max-width: 420px) {
    .serveBody {
        margin-bottom: 350px;
    }
    #visualIcon, #fashionIcon, #mediaIcon {
        height: 55px;
        margin-top: 110px;
        margin-bottom: 8px;
    }
    #mediaFilter {
        width: 100%;
        /* cursor: pointer; */
        -ms-overflow-style: none;
        /* for Internet Explorer, Edge */
        scrollbar-width: none;
        overflow-x: scroll;
    }
    #mediaFilter::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
    }
    .serveText {
        margin-bottom: 60px;
    }
    .filter-hr {
        display: block;
    }
    .filter {
        margin-bottom: 10px;
    }
    .cards-empty-space-left {
        margin-left: 90px;
    }
    .cards-empty-space-right {
        margin-right: 45px;
    }
    .cards-arrow {
        width: 20px;
        margin-left: 20px;
        margin-top: 100px;
    }
    .filterItem {
        font-size: 16px
    }
}
/* tablet & desktop */
@media (min-width: 421px) {
    .serveBody {
        background-image: url('../assets/serve_top_bg.png');
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: 10rem;
    }
    .filter-hr {
        display: none;
    }
    .filter {
        margin-bottom: 7.401rem;
    }
    .cards-empty-space-left {
        margin-left: 300px;
    }
    .cards-empty-space-right {
        margin-right: 300px;
    }
    .cards-arrow {
        margin-left: 100px;
        margin-top: 100px;
    }
}
/* desktop */
@media (min-width: 1181px) {
    .matter {
        display: block;
    }
    .serveText {
        font-size: 32px;
        margin-bottom: 2.6%;
    }
    .filterItem {
        margin-right: 2.938rem;
    }
    .serveBody {
        background-image: url('../assets/serve_top_bg.png');
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: 15.248rem;
    }
    #visualIcon {
        width: 12.75%;
        margin-top: 11.25%;
        margin-bottom: 1.2%;
    }
    #fashionIcon {
        width: 16%;
        margin-top: 11%;
        margin-bottom: 1.2%;
    }
    #mediaIcon {
        width: 8.6%;
        margin-top: 11%;
        margin-bottom: 1.2%;
    }
    .filter {
        margin-bottom: 7.401rem;
    }
}
.serveBody {
    position: relative;
}
#fashionIcon {
    margin-left: auto;
    margin-right: auto;
}
#visualIcon {
    margin-left: auto;
    margin-right: auto;
}
#mediaIcon {
    margin-left: auto;
    margin-right: auto;
}
.serveText {
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}
.filter {
    z-index: 2;
    margin-right: auto;
    margin-left: auto;
}
.filterItem {
    cursor: pointer;
    font-weight: 500;
}
.matter {
    position:absolute;
}
.filter-hr {
    border: 0;
    width: 100%;
    height: 0.5px;
    background: #707070;
    margin-bottom: 60px;
}
.cards-arrow {
    position: absolute;
    z-index: 1;
}
.cards-container {
    cursor: pointer;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-x: scroll;
    /* background: none; */
}
.cards-container::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}